ul {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #000;
  line-height: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.bar {
  width: 50px;
  height: 5px;
  margin: 6px 0px;
  background-color: lightslategrey;
}
.menu-toggle-checkbox {
  display: none;
}
.menu-list {
  display: none;
  font-weight: bold;
}
.menu-toggle-checkbox:checked ~ .menu-list {
  display: block;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-row-gap: 20px;
}
.image-wrapper {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(50%);
}
.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  padding-bottom: 0px;
  text-align: center;
  color: white;
}
