/* //position relative examples */
/* h2 p {
  /* display: static; */
/* border-style: solid;
}
div p {
  position: relative;
  top: 20px;
  left: 50px;

/* //Position fixed.... */
div {
  position: relative;
  bottom: 0px;
  right: 50px;
}
