.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 90%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  height: auto;
}

/* Style for the card image */
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Makes the image round (for avatars) */
}

/* Style for the name */
.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* Style for the job title */
.card p {
  font-size: 1rem;
  color: #555;
}
body {
  background-color: snow;
}
.main-heading {
  color: indigo;
  text-align: center;
}
.main-subtitle {
  color: gray;
  text-align: center;
}
